{{! This is the Mustache template for the index page }}

{{! @template
{
  "module_name_plural": "Adler Activities",
  "course_format_uses_sections": true,
  "column_title_section": "Section",
  "column_title_activity_name": "Activity Name",
  "adleradaptivities": [
    {
      "section": "Section 1",
      "coursemodule_url": "http://example.com/coursemodule1",
      "coursemodule_name": "Course Module 1"
    },
    {
      "section": "Section 2",
      "coursemodule_url": "http://example.com/coursemodule2",
      "coursemodule_name": "Course Module 2"
    }
  ]
}
}}


<h2>{{ module_name_plural }}</h2>


<table class="generaltable">
    <thead>
    <tr>
        {{#course_format_uses_sections}}
            <th>{{ column_title_section }}</th>
        {{/course_format_uses_sections}}
        <th>{{ column_title_activity_name }}</th>
    </tr>
    </thead>
    <tbody>
    {{#adleradaptivities}}
        <tr>
            {{#course_format_uses_sections}}
                <td>{{ section }}</td>
            {{/course_format_uses_sections}}
            <td><a href="{{ coursemodule_url }}">{{ coursemodule_name }}</a></td>
        </tr>

    {{/adleradaptivities}}
    </tbody>
</table>
