{{!
    @template mod_adleradaptivity/questions

    This template is used to display the questions and tasks of the Adler Adaptivity module.

    Example context (json):
    {
      "module_completed": false,
      "tasks": [
        {
          "title": "Task 1",
          "optional": false,
          "difficulty": "Medium",
          "status_success": false,
          "status_class": "status-failure",
          "status_message": "Task not completed",
          "questions": [
            {
              "status_best_try": false,
              "content": "Question 1 content"
            }
          ]
        }
      ]
    }
}}

<div class="mod_adleradaptivity_questions">
    <!-- Module completion messages -->
    {{#module_completed}}
        <div class="alert alert-success module-success" role="alert">
            ✅ {{#str}}view_module_completed_success, mod_adleradaptivity{{/str}}
        </div>
    {{/module_completed}}
    {{^module_completed}}
        <div class="alert alert-warning module-failure" role="alert">
            ❌ {{#str}}view_module_completed_no, mod_adleradaptivity{{/str}}
        </div>
    {{/module_completed}}

    <!-- Tasks -->
    {{#tasks}}
        <div class="task">
            <hr />
            <h3>{{#str}}view_task_title, mod_adleradaptivity{{/str}}: {{title}}</h3>
            {{#optional}}
                <p><em>{{#str}}view_task_optional, mod_adleradaptivity{{/str}}</em></p>
            {{/optional}}
            {{^optional}}
                <p>{{#str}}view_task_required_difficulty, mod_adleradaptivity{{/str}}: <strong>{{difficulty}}</strong></p>
            {{/optional}}

            <!-- Task Status Handling -->
            {{#status_success}}
                <p class="{{{status_class}}}">✅ {{{status_message}}}</p>
            {{/status_success}}
            {{^status_success}}
                <div class="alert alert-warning {{{status_class}}}" role="alert">
                    ❌ {{{status_message}}}
                </div>
            {{/status_success}}

            <!-- Questions -->
            <div class="questions">
                {{#questions}}
                    <div class="question">
                        <hr />
                        {{#status_best_try}}
                            <p class="question-status-success">✅ {{#str}}view_question_success, mod_adleradaptivity{{/str}}</p>
                        {{/status_best_try}}
                        <div class="question-content">{{{content}}}</div>
                    </div>
                {{/questions}}
            </div>
        </div>
    {{/tasks}}
</div>
